*{
    box-sizing: border-box;
}

body , html{
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #fff;
}

p{
    margin: 0;
}

h1, h2, h3{
    margin: 0;
    font-weight: 400;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    background-color:transparent;
    padding: 0;
    border: none;
    color: #fff;
}

.conteiner{
    width: 1440px;
    margin: 0 auto;
}

.button{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.button::before{
    content: " ";
    display: inline-block;
    height: 2px;
    width: 65px;
    background-color: #fff;
    margin-right: 30px;
    vertical-align: middle;
}

.preview{
    background: black;
}

.preview .conteiner{
    display: flex;
}

.header{
    margin-bottom: 154px;
}

.preview_left{
    padding-top: 26px;  
}

.preview_content{
     max-width: 500px;  
}

.preview_subtitle{
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.preview_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.preview_text{
    font-size: 15px;
    line-height: 18px;
    padding-right: 20px;
}

.about-me{
    background-color: #000000;
}

.about-me .conteiner{
    position: relative;
    padding: 120px 0 96px 0;
    background-color: #000000;
}

.about-me_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

.about-me_avatar{
    margin-bottom: 50px;
}

.about-me_name{
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-me_text{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    max-width: 450px;
}

.about-me_section-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 240px;
    color: #6236FF;
    mix-blend-mode: normal;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    white-space: nowrap ;
    z-index: 1;
}

.avatar{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.statistics{
    padding: 122px 0 125px;
    background: url(./img/statistics.png) center center no-repeat;
    background-size: cover;
}

.statistics_list{
    display: flex;
    justify-content: center;

}

.statistics_item{
    text-align: center;
    margin-right: 100px;
}

.statistics_item:last-child{
    margin-right: 0;
}

.statistics_value{
    font-size: 80px;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-bottom: 14px;
}

.statistics_text{
    font-size: 24px;
}

.plan{
    padding: 92px 0 120px;
    background-color: #000000;
}

.plan_content{
    text-align: center;
    margin-bottom: 84px;
}

.plan_subtitle{
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.plan_title{
    font-family: 'Montserrat';
    font-size: 48px;
}

.plan_list{
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.plan_item{
    flex: 1;
    border-right: 1px solid #fff;
    padding: 60px 30px;
}

.plan_item:first-child{
    border-left: 1px solid #fff;
}

.plan_item-title{
    font-family: 'Montserrat';
    font-size: 34px;
    margin-bottom: 27px;
}
 
.plan_item-name{
    font-size: 14px;
    line-height: 64px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.plan_item-cost{
    font-family: 'Montserrat';
    font-size: 34px;
    line-height: 51px;
    text-align: right;
    margin-bottom: 20px;
}

.plan_item-button{
    text-align: right;
}